*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-red:#d1453b;
  }

.main{
    min-height:calc(100vh - 10vh);
}
::-webkit-scrollbar {
  display: none;
}

/* -----------for loader-------- */

.loader {
  width: 64px;
  height: 48px;
  position: absolute;
  top:45%;
  left:45%;
  z-index:1000;
  animation: split 1s ease-in infinite alternate;
}
.loader::before , .loader::after {
  content: '';
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  left: 0;
  top: 0;
  transform: translateX(-10px);
  background: #FF3D00;
  opacity: 0.75;
  backdrop-filter: blur(20px);
}

.loader::after {
  left: auto;
  right: 0;
  background: #000;
  transform: translateX(10px);
}

@keyframes split {
 0% , 25%{ width: 64px }
 100%{ width: 148px }
}
  
img{
  width:70%;
  height:70%;
}

a{
  text-decoration: none;
}